{% extends "fullwidth.html" %}
{% load cms_tags %}

{% block content %}

<form action="">
  
    <div>
      <label for="cc">Expiration Date</label>
      <!-- Set via HTML -->
      <input id="cc" type="text" placeholder="MM/dd/yyyy" class="masked" pattern="^(((0?[1-9]|1[012])/(0?[1-9]|1\d|2[0-8])|(0?[13456789]|1[012])/(29|30)|(0?[13578]|1[02])/31)/(19|[2-9]\d)\d{2}|0?2/29/((19|[2-9]\d)(0[48]|[2468][048]|[13579][26])|(([2468][048]|[3579][26])00)))$" data-valid-example="01/01/1900"/>
    </div>
    <div>
            <label for="e">ssn</label>
            <!-- Set via HTML -->
            <input id="e" type="text" placeholder="999-99-9999" class="masked" pattern="^([1-9])(?!\1{2}-\1{2}-\1{4})[1-9]{2}-[1-9]{2}-[1-9]{4}"/>
          </div>
    <div>
      <label for="czc">Zip Code</label>
      <input id="czc" placeholder="99999-9999" pattern="^\d{5}-\d{4}|\d{5}|[A-Z]\d[A-Z] \d[A-Z]\d$" class="masked" 
          id="zipca" type="text" name="zipcodeca" 
          title="" />
    </div>
  
  </form>
  
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/masking-input.js" data-autoinit="true"></script>

<style>
input {
  font-family: monospace;
}
label {
  display: block;
}
div {
  margin: 0 0 1rem 0;
}

.shell {
  position: relative;
  line-height: 1; }
  .shell span {
    position: absolute;
    left: 3px;
    top: 1px;
    color: #ccc;
    pointer-events: none;
    z-index: -1; }
    .shell span i {
      font-style: normal;
      /* any of these 3 will work */
      color: transparent;
      opacity: 0;
      visibility: hidden; }

input.masked,
.shell span {
  font-size: 16px;
  font-family: monospace;
  padding-right: 10px;
  background-color: transparent;
  text-transform: uppercase; }
</style>

  

<h2>Welcome to Alford & Associates</h2>
<H5>Please click the link below to complete your 2019 Employee Health Application</H5><br><br>
<ul>
{% for appform in application_exist %}
    <li>
        <a href="employee/create/?id={{appform.id}}">2019 Employee Health Application - {{ appform.empl_last_name }}</a>
    </li>
{% empty %}
    <li><a href="employee/create/">2019 Employee Health Application</a>
    </li>
{% endfor %}
</ul>
<br><br><br><br><br>

{% endblock %}
