{% extends "fullwidth.html" %}
{% load cms_tags %}
{% load i18n %}

{% block content %}
<div class="container">
        {% if heading %}
        <h4>{{ heading }}</h4>
        <p>{{ heading_direction }}</p>
        {% endif %}
    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}        
        {% endfor %}
        <center>
                <button type="submit" class="btn btn-block btn-primary" style="background-color:#992A43;">SAVE NEW ENTRY</button>
        </center>
    </form>
    
    {% if medical_list %}
    <table class="striped" style="font-size: 10pt; border: 1px solid #992A43; margin-top:2px;">
        <tr style="border: 1px solid #992A43;">
            <th>Family Member</th>
            <th>Disease/Diagnose/Treatment</th>
            <th>Date of Onset</th>
            <th>Date Last Seen by Physician</th>
            <th>Remaining Symptoms or Problems</th>
        </tr>
        {% for med in medical_list %}
            <tr>
                <td>{{med.family_member}}</td>
                <td>{{med.disease_diag_treat}}</td>
                <td>{{med.date_of_onset}}</td>
                <td>{{med.date_last_seen}}</td>
                <td>{{med.remaining_symp_probs}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br><br>
    <div class="row">
            {% if back_url %}
                <div class="col s11">
                    <a href="{{ back_url }}" class="btn">Back</a>
                </div>
            {% endif %}
            
            <div class="col s1">
                <a class="waves-effect waves-light btn" href="{{PREFIX_URL}}signpdf/?employee={{ request.GET.employee }}">Next</a>
            </div>
        </div>
</div>


<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/masking-input.js" data-autoinit="true"></script>

<style>
.shell {
  position: relative;
  line-height: 1; }
  .shell span {
    position: absolute;
    left: 3px;
    top: 1px;
    color: #ccc;
    pointer-events: none;
    z-index: -1; }
    .shell span i {
      font-style: normal;
      /* any of these 3 will work */
      color: transparent;
      opacity: 0;
      visibility: hidden; }

input.masked,
.shell span {
  font-size: 16px;
  font-family: monospace;
  padding-right: 10px;
  background-color: transparent;
  text-transform: uppercase; }

</style>
{% endblock %}