{% extends "base_applications.html" %}
{% load cms_tags %}

{% block table_applications %}
    <table class="striped">
        <thead>
            <tr>
                <td>Application Type</td>
                <td>Employer</td>
                <td>Employee</td>
                <td>PDF File</td>
                <td>Completed</td>
            </tr>
        </thead>
        <tbody>
            {% for app_mod in filter.qs %}
                <tr>
                    <td>{{ app_mod.form_name }}</td>
                    <td>{{ app_mod.employee.fk_employer.name }}</td>
                    <td>{{ app_mod.employee }}</td>
                    <td><a target="_blank" href="{{download_url}}?str_file_name={{app_mod.pdf_file}}" >Click to Download</a></td>
                    <td>{{ app_mod.completed }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}